<mat-card class="mat-col-card height-card">
  <h2 class="m-0 p-0 mb-4 pb-4 mt-4 text-center main-head">Create Match</h2>
  <div class="form-cover">
    <form [formGroup]="Creatematchform" (ngSubmit)="onSubmit()" class="main-group flex-wrap justify-content-center">
      <!-- <div class="form-group d-flex flex-wrap align-items-start mb-4">
        <label class="m-0 p-0 pl-4 pt-2 pb-2" for="exampleFormControlInput1"
          >Match Code</label
        >
        <div class="label-input">
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder=""
            formControlName="matchcode"
            class="w-100"
          />
          <mat-error
            *ngIf="
              Creatematchform?.controls['matchcode'].errors?.required &&
              Creatematchform?.controls['matchcode'].touched
            "
            >Match code is required
          </mat-error>
        </div>
      </div> -->

      <div class="form-group d-flex flex-wrap align-items-start mb-4">
        <label class="m-0 p-0 pl-4 pt-2 pb-2" for="exampleFormControlInput1">Match Name</label>
        <div class="label-input">
          <input type="text" class="form-control" id="exampleFormControlInput1" formControlName="matchName"
            placeholder="" class="w-100" />
          <mat-error *ngIf="
              Creatematchform?.controls['matchName'].errors?.required &&
              Creatematchform?.controls['matchName'].touched
            ">Match Name is required
          </mat-error>
        </div>
      </div>

      <div class="form-group d-flex flex-wrap align-items-start mb-4">
        <label class="m-0 p-0 pl-4 pt-2 pb-2" for="exampleFormControlInput1">Match Date</label>
        <div class="label-input">
          <input  [owlDateTime]="dt1" readonly [owlDateTimeTrigger]="dt1" class="form-control" id="exampleFormControlInput1" formControlName="dateTime"
            placeholder="" class="w-100" />
            <owl-date-time #dt1></owl-date-time>

          <mat-error *ngIf="
              Creatematchform?.controls['dateTime'].errors?.required &&
              Creatematchform?.controls['dateTime'].touched
            ">Match Date is required
          </mat-error>
        </div>
      </div>


      <div class="form-group d-flex flex-wrap align-items-start mb-4" *ngFor="let team of teams; let i = index">
        <label class="m-0 p-0 pl-4 pt-2 pb-2">{{team.teamName}}</label>
        <div class="label-input">
          <div class="d-flex">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder=""
            formControlName="{{team.teamControl}}" class="w-100" />
            <div class="d-flex" *ngIf="i==0">
          <button type="button" (click)="addTeam()" id="kt_login_signin_submit"  class="
                  btn btn-primary
                  font-weight-bolder font-size-h6
                  px-3
                  py-1
                  mx-3
                  ">
            +
          </button>
          <button type="button" (click)="removeTeam()" id="kt_login_signin_submit" *ngIf="teams.length>2" class="
                  btn btn-primary
                  font-weight-bolder font-size-h6
                  px-3
                  py-1
                  mx-3
                  ">
            -
          </button>
        </div>
        </div>
          <mat-error *ngIf="
              Creatematchform?.controls[team.teamControl].errors?.required &&
              Creatematchform?.controls[team.teamControl].touched
            ">{{team.teamName}} is required
          </mat-error>
        </div>
      </div>



      <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Max Amount</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

      <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Session Max Amount</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

      <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Delay Time</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

      <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Session Delay Time</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

      <div class="form-group d-flex flex-wrap align-items-center mb-4 footer">
        <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Match Type</label>
        <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""> -->
        <div class="label-input">
          <select class="form-select w-100" aria-label="Default select example" formControlName="matchType">
            <option selected value=0>Select Match Type</option>
            <option value=1>One Day</option>
            <option value=2>Test Match</option>
            <option value=3>T20</option>
          </select>
          <mat-error *ngIf="
              Creatematchform?.controls['matchType'].errors?.required &&
              Creatematchform?.controls['matchType'].touched
            ">Match Type is required
          </mat-error>
        </div>
      </div>

      <!-- <div class="text-center w-100 footer-saved">
        <div class="text-center less-width">
          <div class="form-btn">
            <button
              type="submit"
              class="btn btn-primary text-weight-bold mr-3 save"
            >
              Save
            </button>

            <button type="button" class="btn btn-light text-weight-bold cancel">
              Cancel
            </button>
          </div>
        </div>
      </div> -->
      <!-- <div class="text-center w-100 footer-saved"> -->

      <!-- </div> -->
      <div class="text-center less-width">
        <div class="form-btn">
          <button type="submit" class="btn btn-primary text-weight-bold mr-3 save">
            Save
          </button>

          <button type="button" class="btn btn-light text-weight-bold cancel" (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>
  </div>
</mat-card>