<mat-card class="mat-col-card height-card">
  <h2 class="m-0 p-0 mb-4 pb-4 mt-4 text-center main-head">Create Match</h2>
  <div class="form-cover">
  <form
    [formGroup]="Creatematchform"
    (ngSubmit)="onSubmit()"
    class="main-group flex-wrap justify-content-center"
  >
    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Code</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="matchcode"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Name</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        formControlName="matchname"
        placeholder=""
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Date</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        formControlName="matchdate"
        placeholder=""
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Time</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="matchtime"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 1</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team1"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 2</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team2"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 3</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team3"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 4</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team4"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 5</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team5"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 6</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team6"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 7</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team7"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 8</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team8"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 9</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team9"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 10</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team10"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 11</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team11"
      />
    </div>

    <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1">Team 12</label>
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
        formControlName="team12"
      />
    </div>

    <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Max Amount</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

    <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Session Max Amount</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

    <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Delay Time</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

    <!-- <div class="form-group d-flex flex-wrap align-items-center mb-4">
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Session Delay Time</label
      >
      <input
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder=""
      />
    </div> -->

    <div
      class="
        form-group
        d-flex
        flex-wrap
        align-items-center
        mb-4 footer
      "
    >
      <label class="m-0 p-0 pl-4" for="exampleFormControlInput1"
        >Match Type</label
      >
      <!-- <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=""> -->
      <select class="form-select" aria-label="Default select example">
        <option selected>select Match Type</option>
        <option value="1">One Day</option>
        <option value="2">Test Match</option>
        <option value="3">T20</option>
      </select>
    </div>

  </form>
  

</div>
<div class="text-center w-100 footer-saved">
  <div class="text-center less-width">
<div class="form-btn">
  <button type="button" class="btn btn-primary text-weight-bold mr-3 save">
    Save
  </button>

  <button type="button" class="btn btn-light text-weight-bold cancel">
    Cancel
  </button>
</div>
</div>
</div>
</mat-card>
