// :host {
//   .hljs {
//     background: transparent !important;
//   }
// }

form.main-group .form-group label {
  float: left;
  width: auto;
  padding-right: 20px;
  width: 30%;
}
form.main-group .form-group input {
  width: auto;
  width: 60%;
  height: 34px;
}
.form-group.d-flex.flex-wrap.align-items-center.mb-4 {
  float: left;
  width: 100%;
}
form.main-group .form-group select {
  border: 1px solid #b7b7b7;
  border-radius: 0.42rem;
  padding: 0.65rem 1rem;
  width: 60%;
  height: 34px;
}
form.main-group .form-group select:focus {
  outline: none;
}
.form-btn {
  margin: 0 auto;
  text-align: center;
}
.mat-col-card {
  margin-bottom: 25px;
}
/*-----------------------------------*/
.footer-fixed .footer {
  box-shadow: none;
}
.form-group.d-flex.flex-wrap.align-items-center.mb-4.footer {
  position: inherit;
  box-shadow: none;
}
::ng-deep mat-card.height-card {
    height: calc(100vh - 170px);
    padding-top: 0;
    margin-bottom: 0 !important;
}
h2.main-head {
  font-size: 18px;
  color: #1e1e2d;
  padding: 20px 0 12px!important;
  margin-top: 0 !important;
  width:50%;
  font-family: Poppins, Helvetica, "sans-serif";
  letter-spacing: -0.8px;
  font-weight: 800;
}
.form-group label {
  color: #a0a0a0;
}
form.main-group.flex-wrap.justify-content-center {
  width: 50%;
}
.text-center.less-width {
  width: 50%;
}
/*-----------------------------------*/
.form-cover {
    width: 100%;
    overflow: auto;
    height: calc(100vh - 315px);
}
// ::ng-deep form.main-group {
//   max-height: 315px;
//   overflow: auto;
// }
::ng-deep .header-fixed.subheader-fixed.subheader-enabled .wrapper {
  padding-top: 65px;
}
.form-control {
  border: 1px solid #b7b7b7;
}
/*----Scrollbar-----*/
.form-cover::scrollbar {
  width: 5px;
  height: 5px;
  background-color: #e1e1e1;
}
.form-cover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #e1e1e1;
}
.form-cover::-moz-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #e1e1e1;
}
.form-cover::-webkit-scrollbar-thumb {
  background: #828282;
  border: 1px solid #828282;
}
.form-cover {
  scrollbar-color: #828282 #e1e1e1;
  scrollbar-width: thin;
}
/*----Scrollbar-----*/

@media screen and (max-width: 1120px) {
form.main-group.flex-wrap.justify-content-center {
  width: 80%;
}
h2.main-head {
  width: 80%;
}
.text-center.less-width {
  width: 80% !important;
}
}

@media screen and (max-width: 991px) {
  .mat-col-card {
    margin-bottom: 0;
  }
  .mat-card {
    margin-top: 20px;
  }
}
@media screen and (max-width: 581px) {
  form.main-group .form-group label {
    padding-left: 0 !important;
    padding-bottom: 5px !important;
  }
  .main-head {
    padding-left: 0 !important;
  }
  form.main-group .form-group {
    justify-content: flex-start !important;
    float: left;
    width: 100%;
  }
  form.main-group {
    justify-content: flex-start !important;
  }
  form.main-group .form-group input,
  form.main-group .form-group select {
    width: 100%;
    min-width: inherit;
  }
}

/*--------------------------------*/
.text-center.w-100.footer-saved {
  border-top: 1px solid #ece4e4;
  margin: 20px 0 0px;
  padding: 15px 0 0;
}
 button.save {
  margin: 0 !important;
  border-radius: 0 !important;
  min-width: 70px;
  background: #87BB33;
  border-color: #87bb33;
  padding: 4px 0;
}
button.save:hover {
  background-color: #fff !important;
  color: #87BB33 !important;
  border-color: #87bb33 !important;
}
button.cancel {
  padding: 4px 0;
  margin: 0 0 0 10px !important;
  border-radius: 0 !important;
  min-width: 70px;
}



@media screen and (max-width:600px){
.form-cover {
  width: 100%;
  overflow: auto;
}
.form-cover::-webkit-scrollbar {
  display: none;
}

form.main-group{
  width: 100% !important;
}
form.main-group .form-group input {
  min-width: 230px;
}
form.main-group .form-group label {
  width: 180px;
  min-width: 1px;
  max-width: 200px;
}
form.main-group .form-group select {
  min-width: 230px;
}
.text-center.less-width {
  width: 100%;
}
h2.main-head {
  width: 90%;
}
.text-center.less-width {
  width: 100% !important;
}
}