<div class="jumbotron" style="background: #fff;padding: 15px 15px 30px 15px;border-radius: 0;">
    <table class="table table-striped table-bordered text-center score-card-top">

        <tbody>
            <tr>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>AAAA</option>
                    </select>
                </td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
                <td><input type="text" class="form-control"></td>
            </tr>
            <tr>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>No</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>Extra</option>
                    </select>
                </td>
                <td>
                    <select class="form-control" id="exampleFormControlSelect1">
                        <option>0</option>
                    </select>
                </td>
                <td><button>Score Update</button></td>
            </tr>
            <tr>
                <td class="text-left">Message</td>
                <td colspan="2"><input type="text" class="form-control col-span2"></td>
                <td><button>Message Update</button></td>
            </tr>
            <tr>
                <td class="text-left">Last Ball</td>
                <td colspan="2"><input type="text" class="form-control col-span2"></td>
                <td><button>Balls Update</button></td>
            </tr>
            <tr>
                <td class="text-left">Bowler</td>
                <td colspan="2"><input type="text" class="form-control col-span2"></td>
                <td><button>Bowler Update</button></td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered text-center score-card-bottom">
        <tbody>
            <tr>
                <td><button>Check</button></td>
                <td><button>Bet Open</button></td>
                <td><button>Ball Start</button></td>
                <td><button>No Run</button></td>
                <td><button>1 Run</button></td>
                <td><button>2 Run</button></td>
            </tr>
            <tr>
                <td><button>3 Run</button></td>
                <td><button>4 (Four)</button></td>
                <td><button>6 (Six)</button></td>
                <td><button>Wicket</button></td>
                <td><button>3rd Umpire</button></td>
                <td><button class="color-primary">Lock All</button></td>
            </tr>
            <tr>
                <td><button>No Ball</button></td>
                <td><button>Free Hit</button></td>
                <td><button>Wide</button></td>
                <td><button>Wide + Four</button></td>
                <td><button>Not Out</button></td>
                <td><button class="color-sucess">Unlock All</button></td>
            </tr>
            <tr>
                <td><button>Rain</button></td>
                <td><button>Time Out</button></td>
                <td><button>Tea Break</button></td>
                <td><button>Lunch Break</button></td>
                <td><button>Drink Break</button></td>
                <td><button>Inning Break</button></td>
            </tr>
        </tbody>
    </table>
</div>