<!-- <app-dashboard-wrapper></app-dashboard-wrapper> -->
<div class="upper-col-section">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 static-tyable">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <ng-container matColumnDef="action">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Favorite</th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="">
          <select class="form-select form-control" aria-label="Default select example">
            <option selected>select Match Type</option>
            <option *ngFor="let match of matchType" [value]="match.value">
              {{match.name}}
            </option>
            <!-- <option value="1">Test A</option>
            <option value="2">Test B</option>
            <option value="3">Test C</option> -->
          </select>
        </td>
        <!-- <td mat-cell *matCellDef="let row" style="width: 20%">
          <button class="table-td-btn">
            <mat-icon (click)="ActionIcon()">arrow_drop_down</mat-icon>
          </button>
        </td> -->
      </tr>

      <tr></tr
    ></ng-container>

    <!-----Khai Column-------->
    <ng-container matColumnDef="khai">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Khai</th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="">
          <input type="text" class="form-control"/>
        </td>
      </tr>

      <tr></tr
    ></ng-container>

    <!-----Lagai Column-------->
    <ng-container matColumnDef="Lagai">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Lagai</th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="">
          <input type="text" class="form-control"/>
        </td>
      </tr>

      <tr></tr
    ></ng-container>

    <!-----update Column-------->
    <ng-container matColumnDef="updatebtn">
      <tr>
        <th mat-header-cell *matHeaderCellDef></th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" >
          <button
            class="table-td-btn"
            class="btn btn-primary"
            (click)="update()"
          >
            Update
          </button>
        </td>
      </tr>

      <tr></tr
    ></ng-container>

    <!-----Lock All Column-------->
    <ng-container matColumnDef="lockallbtn">
      <tr>
        <th mat-header-cell *matHeaderCellDef></th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="">
          <button
            class="table-td-btn"
            class="btn btn-warning"
            (click)="lockall()"
          >
            Lock All
          </button>
        </td>
      </tr>

      <tr></tr
    ></ng-container>

    <!-----Unlock All Column-------->
    <ng-container matColumnDef="unlockallbtn">
      <tr>
        <th mat-header-cell *matHeaderCellDef></th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="">
          <button
            class="table-td-btn"
            class="btn btn-warning"
            class="btn btn-success"
            (click)="unlockall()"
          >
            Unlock All
          </button>
        </td>
      </tr>

      <tr></tr
    ></ng-container>

    <!-----Match Satatus Column-------->
    <ng-container matColumnDef="matchstatus">
      <tr>
        <th mat-header-cell *matHeaderCellDef>Match Status Open</th>
      </tr>
      <tr>
        <td mat-cell *matCellDef="let row" style="">
          <div class="margiin">
            <button class="table-td-btn" class="btn btn-warning" (click)="lock()">
              Lock
            </button>
          </div>
          <div class="margiin">
          <span>
            <button
              class="table-td-btn"
              class="btn btn-success"
              (click)="open()"
            >
              Open
            </button>
          </span>
          </div>
        </td>
      </tr>

      <tr></tr
    ></ng-container>

    <!-- Position Column -->
    <!-- <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>S.No</th>
      <td mat-cell *matCellDef="let element">{{ element.position }}</td>
    </ng-container> -->

    <!-- code Column -->
    <!-- <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef>Code</th>
      <td mat-cell *matCellDef="let element">{{ element.code }}</td>
    </ng-container> -->

    <!-- code Column -->
    <!-- <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element">{{ element.Date }}</td>
    </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container> -->

    <!-- Time Column -->
    <!-- <ng-container matColumnDef="Time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let element">{{ element.Time }}</td>
    </ng-container> -->

    <!-- matchType Column -->
    <!-- <ng-container matColumnDef="matchType">
      <th mat-header-cell *matHeaderCellDef>Match Type</th>
      <td mat-cell *matCellDef="let element">{{ element.matchType }}</td>
    </ng-container> -->

    <!-- Declare Column -->
    <!-- <ng-container matColumnDef="Declare">
      <th mat-header-cell *matHeaderCellDef>Declare</th>
      <td mat-cell *matCellDef="let element">{{ element.Declare }}</td>
    </ng-container> -->

    <!-- Won Column -->
    <!-- <ng-container matColumnDef="Won">
      <th mat-header-cell *matHeaderCellDef>Won</th>
      <td mat-cell *matCellDef="let element">{{ element.Won }}</td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
