<mat-card>
  <div class="row">
    <div class="col-5">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Select User</mat-label>
        <mat-select [(ngModel)]="user">
          <mat-option *ngFor="let role of roles | keyvalue" [value]="role['value']">
            {{role['key'] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="col-5">
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Assign Role</mat-label>
        <mat-select multiple [(ngModel)]="role">
          <mat-option *ngFor="let role of roles | keyvalue" [value]="role['value']">
            {{role['key'] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-success" (click)="assignRole()">Assign</button>
    </div>
  </div>
</mat-card>