<mat-card class="p-0">
  <h2 class="m-0 p-5 mb-4 pb-4 mt-5 text-center main-head">
    Session Bhav Details
  </h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Session</th>
        <th>No</th>
        <th>Yes</th>
        <th>No Rate</th>
        <th>Yes Rate</th>
        <th>Open</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Overs</option>
            <option selected value="1">5th over</option>
            <option value="2">10th over</option>
            <option value="3">15th over</option>
          </select>
        </td>
        <td>
          <input type="text" readonly />
        </td>
        <td>
          <input type="text" readonly />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <button type="button" (click)="Updatesession()" class="btn btn-primary">Update</button>
        </td>
      </tr>

      <tr>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Overs</option>
            <option selected value="1">6th over</option>
            <option value="2">10th over</option>
            <option value="3">15th over</option>
          </select>
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <button type="button" (click)="Updatesession()" class="btn btn-primary">Update</button>
        </td>
      </tr>

      <tr>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Overs</option>
            <option selected value="1">Highest</option>
            <option value="2">10th over</option>
            <option value="3">15th over</option>
          </select>
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <input type="text" />
        </td>
        <td>
          <button type="button" (click)="Updatesession()" class="btn btn-primary">Update</button>
        </td>
      </tr>

      <tr>
        <td>
          <input type="text" />
        </td>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Test</option>
            <option selected value="1">Test A</option>
            <option value="2">Test B</option>
            <option value="3">Text C</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success">Add</button>
        </td>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Test</option>
            <option selected value="1">Test A</option>
            <option value="2">Test B</option>
            <option value="3">Text C</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-warning">Lock</button>
        </td>
        <td>
          <button type="button" class="btn btn-success">Open</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="m-0 p-5 mb-4 pb-4 mt-5 text-center main-head">
    Match/Session Declare
  </h2>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <input type="text" />
        </td>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Overs</option>
            <option selected value="1">5th overs</option>
            <option value="2">10th overs</option>
            <option value="3">15th overs</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success">Declare</button>
        </td>
        <td>
          <button type="button" class="btn btn-warning">Cancel</button>
        </td>
        <td>WON BY</td>
        <td>
          <select class="form-select" aria-label="Default select example">
            <option selected>Team</option>
            <option selected value="1">Team A</option>
            <option value="2">Team B</option>
            <option value="3">Team c</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success">Declare</button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>