<mat-card class="p-0">
  <h2 class="m-0 p-5 mb-4 pb-4 mt-5 text-center main-head">
    Session Bhav Details
  </h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Session</th>
        <th>Yes</th>
        <th>No</th>
        <th>Yes Rate</th>
        <th>No Rate</th>
        <th>Open</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of sessions">
        <td>
          <input type="text" disabled [ngModel]="session.sessionName" />
        </td>
        <td>
          <input type="text" disabled [ngModel]="session.yesRate" />
        </td>
        <td>
          <input type="text" disabled [ngModel]="session.noRate" />
        </td>
        <td>
          <input type="text" [disabled]="session.locked" [(ngModel)]="session.yesRate" />
        </td>
        <td>
          <input type="text" [disabled]="session.locked" [(ngModel)]="session.noRate" />
        </td>
        <td>
          <button type="button" [disabled]="session.locked" (click)="Updatesession(session)"
            class="btn btn-primary">Update</button>
        </td>
      </tr>


      <tr>
        <td>
          <input type="text" [(ngModel)]="sessionName" />
        </td>
        <td>
          <select class="form-select form-control" aria-label="Default select example" [(ngModel)]="sessionTeamId">
            <option selected value="-1">Select Team</option>
            <option *ngFor="let team of currentMatch.teams" [value]="team.teamId">
              {{team.teamName}}
            </option>
          </select>
        </td>
        <td>
          <button type="button" (click)="createSession()" class="btn btn-success">Add</button>
        </td>
        <td>
          <select class="form-select form-control" [(ngModel)]="sessionId">
            <option selected value="-1">Select Session</option>
            <option *ngFor="let session of sessions" [value]="session.sessionId">{{session.sessionName}}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-warning" (click)="lockSession(true)">Lock</button>
        </td>
        <td>
          <button type="button" class="btn btn-success" (click)="lockSession(false)">Open</button>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="m-0 p-5 mb-4 pb-4 mt-5 text-center main-head">
    Match/Session Declare
  </h2>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <input type="text" [(ngModel)]="sessionComment" placeholder="Comment">
        </td>
        <td>
          <select class="form-select form-control" [(ngModel)]="betResult">
            <option selected value="-1">Bet Result</option>
            <option value="YES">YES</option>
            <option value="NO">NO</option>
          </select>
        </td>
        <td>
          <select class="form-select form-control" [(ngModel)]="sessionId">
            <option selected value="-1">Select Session</option>
            <option *ngFor="let session of sessions" [value]="session.sessionId">{{session.sessionName}}</option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success" (click)="declareSession()">Declare</button>
        </td>
        <!-- <td>
          <button type="button" class="btn btn-warning">Cancel</button>
        </td> -->
        <td>WON BY</td>
        <td>
          <select class="form-select form-control" aria-label="Default select example" [(ngModel)]="sessionTeamId">
            <option selected value="-1">Select Team</option>
            <option *ngFor="let team of currentMatch.teams" [value]="team.teamId">
              {{team.teamName}}
            </option>
          </select>
        </td>
        <td>
          <button type="button" class="btn btn-success">Declare</button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-card>